@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Nunito:wght@300&family=Poppins:wght@300;800&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Nunito:wght@300&family=Poppins:wght@300;800&family=Roboto:wght@300;400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url() ;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
  }
  

@media(max-width: 991px){
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
  }
}

