@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Nunito:wght@300&family=Poppins:wght@300;800&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Nunito:wght@300&family=Poppins:wght@300;800&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
  }
  

@media(max-width: 991px){
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
  }
}


.home-section{
  width: 100%;
  height: 84%;
}

.home-content{
  width: 100%;
  height: 84vh;
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -55;
}

.img-1{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./photos/A_Greek_house_and_walls_rendered_and_white_washed.jpg);
}
.img-2{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./photos/A_Greek_house_and_walls_rendered_and_white_washed.jpg);
}
.img-3{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./photos/A_Greek_house_and_walls_rendered_and_white_washed.jpg);
}

.content-home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.heading-home{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.heading-lg-home{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0px;
  text-align: center;
}

.btn-home{
  display: inline-block;
  padding: 18px 38px;
  background-color: rgb(209, 95, 2);
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  margin: 28px 0px 0px 0px;
  transition: 0.2s ease-in;
}

.btn-home:hover{
  background-color: rgb(212, 79, 31);
}


.selection{
  width: 90%;
  height: 20vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 40px;
  left: 68px;
  padding: 0px 26px;
  box-shadow: 2px 2px 14px rgb(145, 142, 142);
}

.selection_container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.boxes{
  padding: 14px 20px;
  width: 180px;
  margin: 0px 10px;
  outline: none;
}

.select-btn{
  padding: 14px 30px;
  background-color: rgb(209, 95, 2);
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 10px;
  transition: 0.3 ease-in;
}

.select-btn:hover{
  background-color: chocolate;
}


/* ------ Travel regions ------ */


.travel-countries-wrapper{
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  grid-gap: 2rem;
}

.countries-content{
  margin-top: 1rem;
}

.travel-countries{
  padding: 200px;
}

.travel_cont h2 span{
color: rgba(255, 0, 0, 0.719);
}

.countries-content h2{
  color: rgba(0, 0, 255, 0.607);
}
.countries-content p{
font-size: 14px;
}
.countries-content ul{
list-style: none;
letter-spacing: 2px;
line-height: 25px;
}

.country-names li{
  font-size: 10px;
  font-family: "Poppins", sans-serif; 
}

.country-names li i{
  color: rgba(0, 0, 255, 0.678);
  font-size: 12px;
}

.primary-btn{
  border: none;
  background-color: rgba(255, 255, 0, 0.715);
  padding: 10px;
}

.second-content{
  padding-top: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  grid-gap: 2rem;
}

.third-content{
  padding-top: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  grid-gap: 2rem;
}
















@media(max-width:992px){
.heading-lg-home{
  font-size: 52px;
  line-height: 80px;
}

  .selection{
    width: 400px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: static;
    padding: 0px 26px;
    box-shadow: 2px 2px 14px rgb(145, 142, 142);
    margin: 84px auto;
  }

  .selection_container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
.boxes{
  padding: 14px 20px;
  width: 100%;
  margin: 13px 0px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.5);
}

.select-btn{
 margin: 10px 0px;
 text-align: center;
 width: 100%;
}
}

@media(max-width:400px){
  .home-section{
    width: 400px;
    height: 70vh;
  }
}


@media (max-width: 992px) {
  .travel-countries{
    padding:50px;
  }
  
  .countries-content p{
    width: 300px;
  }
 
  .country-names li{
    font-size: 12px;
    font-family: "Poppins", sans-serif; 
  }

}
